<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="User" value="1" />
		<add key="Pswrd" value="1" />
		<add key="VName" value="11.11.exe" />
		<add key="VcName" value="88.88" />
		<add key="Path1" value="YwlGty" />
		<add key="Name" value="           TRG  BOT           " />

	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>